Exercise 1: Make an empty list and call it names

In [1]:
names = []
print(names)
print(1+2)

[]
3

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [9]:
names.append("Hannah")
names.append("Victor")
names.append("Sam")
names.append("James")
names.append("Sarah")
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah', 'Hannah', 'Victor', 'Sam', 'James', 'Sarah', 'Hannah', 'Victor', 'Sam', 'James', 'Sarah', 'Hannah', 'Victor', 'Sam', 'James', 'Sarah', 'Hannah', 'Victor', 'Sam', 'James', 'Sarah', 'Hannah', 'Victor', 'Sam', 'James', 'Sarah', 'Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [ ]:
names.sort(reverse=True)
for name in names :
    print(name)

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [ ]:
names.sort()
print(names)
maxno = len(names)
i = 0
while i < maxno :
    print(names[i])
    i += 1

Exercise 5: Pull out the fourth item from names and print it out

In [ ]:
name = names.pop(3)
print(name)
print(names)

Exercise 6: Pull out the first item from names and print it out

In [ ]:
name = names.pop(0)
print(name)
print(names)

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [ ]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"
fruit_list = fruits.split(', ')
print(fruit_list)

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [ ]:
squares = []
for value in range(1, 11) :
    square = value ** 2
    squares.append(square)
    
print(squares)

Exercise 9: Create a multiplication table from 1 to 10

In [ ]:
for i in range(1, 11) :
    for j in range(1, 11) :
        k = i * j
        print(f"{k}\t", end=' ')
    print()

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [ ]:
scores = []
total = 0
no_scores = 0

while True :
    score = input("Enter a test score or 'q' to quit: ")
    if score.lower() == 'q' :
        break
    
    scores.append(score)
    total += float(score)
    no_scores += 1

if no_scores == 0 :
    avg = 0
else :
    avg = total / no_scores
    
print(f"\nAll scores: {scores}")
print(f"Average score: {avg:.2f}")

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```